h1 {
   
    text-align: center;

}
p {
   
    text-align: center;
}

h2 {
    
    text-align: center;

}
.door1 {
    
    float:right;

}
.door2 {
    
    float: left;

}
.door3{
    
    float:center;
    
}
body{
    
    background: grey
}