h1 {
    color: white;
    text-align: center;

}
p {
    color: white;
    text-align: center;
}

h2 {
    color: white 
    text-align: center;

}
.door1 {
    
    float:right;

}
.door2 {
    
    float: left;

}
.door3{
    
    float:center;
    
}
body{
    background: url("/scarrywall.jpg") no-repeat center center fixed;