h1 {
    color: white;
    text-align: center;

}
p {
    color: white;
    text-align: center;
}

h2 {
    color: white; 
    text-align: center;

}
.door1 {
    
    margin:70px;
    
}
.door2 {
    
    margin:70px;
    
}
.door3{
    
   margin:70px;
    
}
body{
    background: url("/scarrywall.jpg") no-repeat center center fixed;